<div id="grav-designer">
    <div id="grav-designer-menu">
        <ul>
            <li class="grav-designer-menu-item">
                <div class='toggle @SitemapToggleOn' @onclick="toggleSitemapClick">
                    <div class='toggle-border'>
                        <div class='toggle-text-off'>OFF</div>
                        <div class='glow-comp'></div>
                        <div class='toggle-button'></div>
                        <div class='toggle-text-on'>ON</div>
                    </div>
                    <div class='toggle-text-details'>Sitemap</div>
                </div>
            </li>
            <li class="grav-designer-menu-item">
                <div class='toggle @ToolbarToggleOn' @onclick="toggleToolbarClick">
                    <div class='toggle-border'>
                        <div class='toggle-text-off'>OFF</div>
                        <div class='glow-comp'></div>
                        <div class='toggle-button'></div>
                        <div class='toggle-text-on'>ON</div>
                    </div>
                    <div class='toggle-text-details'>Toolbar</div>
                </div>
            </li>
        </ul>
    </div>
    <div id="grav-sitemap" class="@SiteMapClass">
        <SiteMap/>
    </div>
</div>

@functions{
    bool IsSiteMapEnabled { get; set; }
    string SitemapToggleOn { get; set; }
    bool IsToolbarEnabled { get; set; }
    string ToolbarToggleOn { get; set; }
    string SiteMapClass { get; set; }
}

@code {
    protected override void OnInitialized() {
        SiteMapClass = "hidden";
    }

    SiteMap _siteMap;
    private void toggleSitemapClick() {
        IsSiteMapEnabled = !IsSiteMapEnabled;
        if (IsSiteMapEnabled) {
            Console.WriteLine("heh...opening site map");
            SitemapToggleOn = "toggle-on";
            SiteMapClass = "";
        } else {
            Console.WriteLine("heh...closing site map");
            SitemapToggleOn = "";
            SiteMapClass = "hidden";
        }
    }
    private void toggleToolbarClick() {
        IsToolbarEnabled = !IsToolbarEnabled;
        if (IsToolbarEnabled) {
            Console.WriteLine("heh...opening toolbar");
            ToolbarToggleOn = "toggle-on";
        } else {
            Console.WriteLine("heh...closing toolbar");
            ToolbarToggleOn = "";
        }
    }
}
